@model ExpensiveControlApp.DTOs.ListExpensiveDTO

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm">
        <h1>Despesas</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <a asp-action="Create" asp-controller="Expensive" class="btn btn-primary btn-lg btn-block">
            Nova despesa
        </a>
    </div>
</div>

<form method="post">
    <div asp-validation-summary="All" class="text-danger">
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input asp-for="StartDate" type="date" placeholder="Digite a Data Inicial" class="form-control" />
            </div>

        </div>
        <div class="col-md-4">
            <div class="form-group">
                <input asp-for="EndDate" type="date" placeholder="Digite a Data Final" class="form-control" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg">Buscar</button>
            </div>
        </div>
    </div>
</form>

